<div id="popover-button">
  <ion-item [button]="!disabled" [detail]="!disabled">
    <ion-text slot="start" position="fixed">Villager:</ion-text>
    <ion-text *ngIf="!villagerSelected && !disabled">Select a villager</ion-text>
    <ion-text *ngIf="!villagerSelected && disabled">n/a</ion-text>
    <ion-avatar slot="start" *ngIf="villagerSelected" >
      <ion-img *ngIf="villagerSelected.attributes?.image_url" [src]="villagerSelected.attributes?.image_url"></ion-img>
      <img *ngIf="!villagerSelected?.attributes?.image_url" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar> 
    <ion-text *ngIf="villagerSelected">{{villagerSelected.attributes.name}} </ion-text>
</ion-item>
</div>

<ion-popover *ngIf="!disabled" trigger="popover-button" #popover (willPresent)="onLoadvillagers()">
  <ng-template>
    <ion-content >
      
      <ion-list>
        
        <ion-item>
          <ion-input #search placeholder="Buscar" type="text" (ionInput)="onFilter($event)" debounce="200"></ion-input>
          <ion-button color="medium" slot="end" fill="clear" (click)="clearSearch(search)"><ion-icon slot="icon-only" name="close-outline"></ion-icon></ion-button>
        </ion-item>
        <ion-item button (click)="deselect(popover)">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar> 
          <ion-text >Ninguno</ion-text>
        </ion-item>
        <app-villager-item
          (clicked)="onVillagerClicked(popover,$event)"
          *ngFor="let villager of villagers"
          [villager]="villager"
        ></app-villager-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>