<div [id]="'popover-button-' + num">
  <ion-item [button]="!disabled" [detail]="!disabled" class="villager-item">
    <ion-avatar slot="start" *ngIf="villagerSelected" class="villager-avatar">
      <ion-img *ngIf="villagerSelected?.attributes?.image_url" [src]="villagerSelected.attributes.image_url"></ion-img>

    </ion-avatar>
    <ion-label *ngIf="villagerSelected">{{
      villagerSelected.attributes.name
      }}</ion-label>
    <ion-label *ngIf="!villagerSelected && !disabled">
      <ion-avatar>
        <ion-icon  name="paw"></ion-icon>
      </ion-avatar>
    </ion-label>
    <ion-label *ngIf="!villagerSelected && disabled">n/a</ion-label>
  </ion-item>
</div>

<ion-popover *ngIf="!disabled" [trigger]="'popover-button-' + num" #popover>
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-input #search placeholder="{{ 'island.form.search' | translate}}..." type="text" (ionInput)="onFilter($event)" debounce="200"></ion-input>
          <ion-button color="medium" slot="end" fill="clear" (click)="clearSearch(search)"><ion-icon slot="icon-only"
              name="close-outline"></ion-icon></ion-button>
        </ion-item>
        <ion-item button (click)="deselect(popover)">
          <ion-avatar slot="start">
            <ion-icon color="white" name="paw"></ion-icon>
          </ion-avatar>
          <ion-text>{{ 'island.form.none' | translate}}</ion-text>
        </ion-item>
        <app-villager-item (clicked)="onVillagerClicked(popover, $event)" *ngFor="let villager of villagers"
          [villager]="villager"></app-villager-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>