<ion-card class="profile-container" color="primary">
  <ion-card-content>
    <div class="button">
      <ion-button shape="round" [color]="buttonConfig.color" [fill]="buttonConfig.fill" (click)="handleButtonClick()">
        {{ 'profile.' + buttonConfig.text  | translate}}
      </ion-button>
    </div>
    <div class="img">
      <img *ngIf="user?.profile_picture" [src]="user?.profile_picture"/>
      <ion-icon *ngIf="!user?.profile_picture" size="large" name="person-circle"></ion-icon>
    </div>
    <div class="user-info">
      <h1>@{{user?.username}}</h1>
      <span>{{'profile.dreamCode' | translate}}: {{user?.dream_code}}</span>
    </div>
    <div class="follow-table">
      <table class="followers-table">
        <tr>
          <td>
            <p>
              {{ 'profile.following' | translate}}
            </p>
            <h1>{{user?.following?.length}}</h1>
          </td>
          <td>
            <p>
              {{ 'profile.followers' | translate}}
            </p>
            <h1>{{user?.followers?.length}}</h1>
          </td>
        </tr>
      </table>
    </div>
  </ion-card-content>
</ion-card>
