.img {
    height: 20rem;
    width: 20rem;
    align-self: center;
}

.banned {
    background-color: #FFDFE9 !important;
    /* Puedes cambiar el color a tu preferencia */
}

.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 40px;
    text-align: center;

    span {
        font-size: 1rem;
        padding: 0;
    }

    p {
        font-size: 1rem;
        color: red;
    }
}

.img img,
.img ion-icon {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

ion-card {
    border-radius: 25px;
    width: 30rem;
    height: 640px !important;
    color: var(--ion-color-primary-dark);
    background-color: var(--ion-color-primary-tint);
}

ion-card-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 0 !important;

    h1 {
        font-weight: bold;
        color: var(--ion-color-primary-dark) !important;
    }
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
    gap: 1rem;
    min-height: 102px;

    color: var(--ion-color-primary-dark) !important;

    h1 {
        font-size: 2.3rem;
    }

    span {
        font-size: 1.2rem;
    }
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* Asegura que el ion-card ocupe toda la altura disponible */
}

.follow-table {
    margin-top: auto;
    /* Empuja el div follow-table hacia la parte inferior */
}



table {
    margin: 0rem -2rem;
    align-self: flex-end;
    width: 115%;
    border-collapse: collapse;
    height: 75%;
}

th,
td {
    text-align: center;
    padding: 10px;
    height: 6rem;


    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.2rem;
    }
}


tr:first-child td {
    border-top: 3px solid var(--ion-color-secondary);
}

td:first-child {
    border-right: 3px solid var(--ion-color-secondary);
}

.follow-cell {
    cursor: pointer;
}

.profile-container,
.profile-container ion-card-content,
.user-info h1,
.user-info span,
.follow-cell p,
.follow-cell h1 {
    color: var(--ion-color-secondary) !important;
}

@media only screen and (width<=550px) {
    ion-card {
        width: 100%;
        height: 590px !important;
    }

    .user-info {
        height: 130px;
    }

    .img {
        height: 15rem;
        width: 15rem;
        align-self: center;
    }

    table {
        margin: 0rem -1rem;
    }

}