<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>loans</ion-title>
  </ion-toolbar>
</ion-header>

  

  <ion-content class="ion-padding" [appBackgroundBlur]="isModalOpen">
    <ion-button *ngIf="_island" color="secondary" class="add" shape="round" aria-label="New Loan" (click)="onNewLoan()">
    <ion-icon slot="icon-only" name="add-outline"></ion-icon>
  </ion-button>
    <div class="title">
      <hr>
      <h1> {{'loans.noCompleted' | translate}} </h1>
      <hr>
    </div>
    <div class="loans">
      <app-loan class="loan" *ngFor="let loan of (loanService.loans$ | async) || [] | loanCompleted:false" [loan]="loan"
        (onEditClicked)="onEditClicked(loan)" (onDeleteClicked)="onDeleteClicked(loan)">
      </app-loan>
    </div>
    <div class="title">
      <hr>
      <h1> {{'loans.completed' | translate}} </h1>
      <hr>
    </div>
    <div class="loans">
      <app-loan class="loan" *ngFor="let loan of (loanService.loans$ | async) || [] | loanCompleted:true" [loan]="loan"
        (onDeleteClicked)="onDeleteClicked(loan)">
      </app-loan>
    </div>
  </ion-content>
