<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>loans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-button
class="add"
shape="round"
aria-label="New Loan"
(click)="onNewLoan()"
>
<ion-icon
  ion-icon
  slot="icon-only"
  color="white"
  name="add-outline"
  aria-hidden="true"
></ion-icon>
</ion-button>

<ion-content class="ion-padding">
  <div class="loans">
    <app-loan
      *ngFor="let loan of loanService.loans$ | async"
      [loan]="loan"
      (onEditClicked)="onEditClicked(loan)"
      (onDeleteClicked)="onDeleteClicked(loan)">
    </app-loan>
    
  </div>

  
</ion-content>