
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-input label="username" labelPlacement="start" formControlName="username" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="display_name" labelPlacement="start" formControlName="display_name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="email" labelPlacement="start" formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="password" labelPlacement="start" formControlName="password" type="password"></ion-input>
    </ion-item>
    <div class="ion-text-end">
      <ion-button type="submit" style="text-transform: none;" [disabled]="!form.valid" (click)="onSubmit()">submit</ion-button>
    </div>
  </form>