<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
    <app-user-card [user]="user$ | async" [buttonType]="'edit'"></app-user-card>
  </div>


  <div class="card">
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-user"></i>
          <span> {{ 'profile.mutuals' | translate }}</span>
        </ng-template>
        <div class="users">
          <app-user-card *ngFor="let user of (userSvc.users$ | async)" [user]="user"
            [buttonType]="isUserFollowed(user.uuid) ? 'unfollow' : 'follow'" (follow)="onFollowClicked(user)"
            (unfollow)="onUnfollowClicked(user)">
          </app-user-card>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Header II">
        <ng-template pTemplate="header">
          <i class="pi pi-search"></i>
          <span> {{ 'profile.search' | translate }}</span>
        </ng-template>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo enim
          ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
          ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
        </p>
      </p-tabPanel>
    </p-tabView>
  </div>

</ion-content>