<ion-content class="ion-padding">

  <div class="current-user-container">
    <app-user-card [user]="user$ | async" [buttonType]="'edit'"></app-user-card>
    <div class="islands" *ngIf="islandService.islands$ | async as island">
      <app-island [island]="island" [showEdit]="false"></app-island>
    </div>
  </div>

  <div class="card">
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-user"></i>
          <span> {{ 'profile.mutuals' | translate }}</span>
        </ng-template>
        <div class="users">
          <ng-container *ngFor="let user of mutualUsers">
            <app-user-card [user]="user" [buttonType]="isUserFollowed(user.uuid) ? 'unfollow' : 'follow'"
              (follow)="onFollowClicked(user)" (unfollow)="onUnfollowClicked(user)">
            </app-user-card>
          </ng-container>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Header II">
        <ng-template pTemplate="header">
          <i class="pi pi-search"></i>
          <span> {{ 'profile.search' | translate }}</span>
        </ng-template>
        <ion-searchbar mode="ios" show-clear-button="focus" #search
          placeholder="{{ 'island.form.search' | translate}}..." type="text" (ionInput)="onFilter($event)"
          debounce="300"></ion-searchbar>
        <div class="users">
          <ng-container *ngFor="let user of filteredUsers">
            <app-user-card [user]="user" *ngIf="(user$ | async)?.uuid !== user.uuid"
              [buttonType]="isUserFollowed(user.uuid) ? 'unfollow' : 'follow'" (follow)="onFollowClicked(user)"
              (unfollow)="onUnfollowClicked(user)">
            </app-user-card>
          </ng-container>

        </div>

      </p-tabPanel>
    </p-tabView>
  </div>

</ion-content>