.users {
    display: flex;
    flex-direction: row;
}

span {
    padding-left: 1.5rem;
    font-size: 1.2rem;
}

.card {
    padding: 1.5rem;
}

/* not selected */
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    }
    /* hover */
    .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    border-color: var(--ion-color-secondary-tint);
    color: var(--ion-color-secondary-tint);
    }
    /* selected */
    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: var(--ion-color-secondary);
    border-color: var(--ion-color-secondary);
    }