<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="onCancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      {{ 'profile.edit' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding form">
  <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <app-picture-selectable formControlName="profile_picture"></app-picture-selectable>
    <span class="p-float-label " style="padding: 0;">
      <input pInputText id="username" formControlName="username" />
      <label htmlFor="username">{{ 'login.username' | translate }}</label>
    </span>
    <span class="p-float-label "  style="padding: 0;" >
      <p-inputMask mask="DA-9999-9999-9999" formControlName="dream_code" id="dream_code"
        placeholder="DA-____-____-____"></p-inputMask>
      <label htmlFor="dream_code">{{ 'profile.dreamCode' | translate }}</label>
    </span>
  </form>
</ion-content>

<ion-footer>
  <ion-button type="submit" [disabled]="!userForm.valid || !userForm.dirty" class="ion-padding" expand="full" color="secondary"
    (click)="onSubmit()"> {{ 'main.save' | translate}} </ion-button>
</ion-footer> 