<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <div class="img">
        <img src="../../../assets/images/login.png" alt="Login">
      </div>
      <div class="form">
        <ion-card-header>
          <ion-card-title><h1>{{ 'login.welcome' | translate }}</h1></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <app-login-form (onsubmit)="onLogin($event)"></app-login-form>
        </ion-card-content>
        <div class="register">
          {{ 'login.register' | translate }}
          <a routerLink="/register" routerLinkActive="active-link" class="link-text">{{ 'login.create' | translate }}</a>
        </div>
      </div>

    </ion-card>

  </div>
</ion-content>