<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button fill="clear" (click)="onCancel()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title style="text-align: center;">
   {{ 'profile.' + listType | translate}}
  </ion-title>
</ion-toolbar>
</ion-header>
<ion-content >
  <div class="user-list">
    <ion-list mode="ios">
      <ion-item  mode="ios" *ngFor="let user of users" [button]="true"(click)="goToUserProfile(user.uuid)"> 
        <ion-avatar class="custom-avatar" aria-hidden="true" slot="start">
          <img *ngIf="user?.profile_picture" [src]="user?.profile_picture" />
          <ion-icon *ngIf="!user?.profile_picture" size="large" name="person-circle"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>@{{ user.username }}</h2>
        </ion-label>
      </ion-item>
      
    </ion-list>
  </div>
</ion-content>