<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-menu #menu contentId="main-content" side="end">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ 'menu.menu' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" routerLink="/home" routerDirection="root" routerLinkActive="active-link">
            {{ 'menu.home' | translate }}
          </ion-item>
          <ion-item lines="none" routerLink="/loans" routerDirection="root" routerLinkActive="active-link">
            {{ 'menu.loans' | translate }}
          </ion-item>
          <ion-item lines="none" routerLink="/villagers" routerDirection="root" routerLinkActive="active-link">
            {{ 'menu.villagers' | translate }}
          </ion-item>
          <ion-item lines="none" routerLink="/about" routerDirection="root" routerLinkActive="active-link">
            {{ 'menu.about' | translate }}
          </ion-item>
          <ion-item lines="none" button (click)="onLang('es')">
            <ion-icon slot="start" name="language-outline"></ion-icon>
            Cambiar Idioma a ES
          </ion-item>
          <ion-item lines="none" button (click)="onLang('en')">
            <ion-icon slot="start" name="language-outline"></ion-icon>
            Change Language to EN
          </ion-item>
          <ion-item lines="none" button (click)="onLang('rom')">
            <ion-icon slot="start" name="language-outline"></ion-icon>
            Schimbă limba la ROM
          </ion-item>
          <ion-item lines="none" button (click)="onSignOut()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            {{ 'menu.logout' | translate }}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar *ngIf="showNavbar">
        <ion-title>
          <img src="../assets/icon/favicon.png" alt="icon" class="toolbar-icon">
          Nook's toolbox
        </ion-title>
        <ion-buttons slot="end">
          <ion-item lines="none" routerLink="/admin" routerDirection="root" routerLinkActive="active-link">
            admin 
          </ion-item>
          <ion-button routerLink="/profile" *ngIf="(fbAuth.user$ | async)">
            <ion-avatar class="user-icon" slot="start">
              <ion-img *ngIf="(fbAuth.user$ | async)?.profile_picture" [src]="(fbAuth.user$ | async)?.profile_picture"></ion-img>
              <ion-icon *ngIf="!(fbAuth.user$ | async)?.profile_picture" size="large" name="person-circle"></ion-icon>
            </ion-avatar>
          </ion-button>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <p-toast></p-toast>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>
