<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-header *ngIf="showNavbar">
    <ion-toolbar>
      <ion-buttons slot="end">
        <a class="link-text" (click)="goToHome()">Home</a>
        <a class="link-text" (click)="goToLoans()">Loans</a>
        <a class="link-text" (click)="goToVillagers()">Villagers</a>
        <ion-button (click)="onSignOut()">
          <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-app>
