.link-text {
    padding: 10px;
    text-decoration: none;
    color: var(--ion-background-color);
    cursor: pointer;
}

.link-text:hover {
    color: var(--ion-color-primary);
    text-decoration: underline;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);;
}

ion-button {
    color:  var(--ion-background-color);
}