.link-text {
    padding: 10px;
    text-decoration: none;
    color: var(--ion-background-color);
    cursor: pointer;
}

.user-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-text:hover {
    color: var(--ion-color-primary);
    text-decoration: underline;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    ;
}

ion-button {
    color: var(--ion-background-color);
}

ion-menu-button {
    color: white;
}

.toolbar-icon {
    height: auto;
    max-height: 40px;
    object-fit: contain;
    vertical-align: middle;

}

ion-title {
    color: var(--ion-background-color);
}

/*
@media (min-width: 600px) {
    ion-menu-button {
        display: none;
    }

    ion-header {
        display: none;
    }
}

@media (max-width: 599px) {
    .navbar {
        display: none;
    }


}*/