<ion-app>
  <ion-router-outlet></ion-router-outlet>
<div class="navbar">
<ion-toolbar *ngIf="showNavbar">
      <ion-buttons slot="end">
        <a routerLink="/home" routerLinkActive="active-link" class="link-text">{{ 'menu.home' | translate}}</a>
        <a routerLink="/loans" routerLinkActive="active-link" class="link-text">{{ 'menu.loans' | translate}}</a>
        <a routerLink="/villagers" routerLinkActive="active-link" class="link-text">{{ 'menu.villagers' | translate}}</a>
        <ion-button fill="clear" (click)="onSignOut()">
          <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</div>
    
</ion-app>
