.hero {
  background-image: url("../../../assets/images/background_cropped.jpg");
  height: 60vh;
  background-repeat: no-repeat;
    background-size: cover; 
    background-attachment:scroll;
    background-position: center;
}

.content {
  position: relative; 
  background-color: #ffffff; 
  border-radius: 25px 25px 0 0; 
  padding: 20px;
  margin-top: -50px; 
  z-index: 2; 
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.3); 
  height: 600px;
}

.islands {
  padding: 2rem;
}