
<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div appParallax  class="hero"></div>

  <div class="content">
    <div class="islands" *ngIf="(islandService.islands$ | async) as island">
      <app-island [island]="island" (onEditClicked)="onEditClicked(island)">
      </app-island>
    </div>
    <ion-button *ngIf="!is" class="add" shape="round" aria-label="New Island" (click)="onNewIsland()">
      <ion-icon ion-icon slot="icon-only" color="white" name="add-outline" aria-hidden="true"></ion-icon>
    </ion-button>
  </div>


</ion-content>
