

<ion-content [fullscreen]="true" [appBackgroundBlur]="isModalOpen">

  <div class="hero"></div>

  <div class="content" *ngIf="is">
    <div class="loans">
      <ion-button (click)="loans()" class="seeAll" color="secondary">
        {{ 'home.seeAll' | translate}}
        <ion-icon slot="end" name="resize-outline"></ion-icon>
      </ion-button>
      <div class="title">
        <h1>{{ 'home.myLoans' | translate }}</h1>
      </div>
      <app-loan-item class="loan"
        *ngFor="let loan of (loanService.loans$ | async) || [] | loanCompleted:false | latestThree" [loan]="loan"
        (onLoanClicked)="onLoanClicked(loan)" (onDeleteClicked)="onDeleteClicked(loan)">
      </app-loan-item>
    </div>
    <div class="islands" *ngIf="(islandService.islands$ | async) as island">
      <app-island [island]="island" (onEditClicked)="onEditClicked(island)" [showEdit]="true">
      </app-island>
    </div>
  </div>
  <div class="noIs" *ngIf="!is">
    <div class="message">
      <h1>{{ 'home.message' | translate }}</h1>
    </div>
    <ion-button class="add" shape="round" color="secondary" aria-label="New Island" (click)="onNewIsland()">
      <ion-icon ion-icon slot="icon-only" name="add-outline" aria-hidden="true"></ion-icon>
    </ion-button>

  </div>
</ion-content>