<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" fill="clear" (click)="onCancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center"> {{ mode == 'New' ? ('loans.form.new' | translate) : ('loans.form.edit' | translate) }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">

    <ion-item *ngIf="mode=='New'">
      <ion-label position="floating">{{ 'loans.title' | translate}}</ion-label>
      <ion-input aria-label="title" formControlName="title" type="string"></ion-input>
    </ion-item>

    <ion-item *ngIf="mode=='New'">
      <ion-select label="{{'loans.typeTitle' | translate}}" label-placement="floating" aria-label="type" formControlName="type" interface="popover">
        <ion-select-option color="secondary" value="house">{{ 'loans.type.house' | translate}}</ion-select-option>
        <ion-select-option value="incline">{{ 'loans.type.incline' | translate}}</ion-select-option>
        <ion-select-option value="bridge">{{ 'loans.type.bridge' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'loans.amountPaid' | translate }}</ion-label>
      <ion-input aria-label="amountPaid" formControlName="amountPaid" type="number" inputmode="numeric" pattern="[0-9]*"></ion-input>
    </ion-item>
    
    <ion-item *ngIf="mode=='New'">
      <ion-label position="floating">{{ 'loans.amountTotal' | translate }}</ion-label>
      <ion-input aria-label="amountTotal" formControlName="amountTotal" type="number" inputmode="numeric" pattern="[0-9]*"></ion-input>
    </ion-item>
    

    <ion-item >
      <ion-toggle aria-label="completed" formControlName="completed" labelPlacement="stacked" alignment="start">{{ 'loans.complete' | translate}}</ion-toggle>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-button
    type="submit"
    [disabled]="!form.valid || !form.dirty"
    class="ion-padding"
    expand="full"
    (click)="onSubmit()"
  >
  {{ 'loans.submit' | translate}}  </ion-button>
</ion-footer>
