ion-card {
    border-radius: 20px;
    height: fit-content;
    width: 45vh;
}

.villager-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--ion-color-primary-tint);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 1rem;
}

.villager-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.villager-image-container {
    width: 150px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.villager-image-container img {
    width: auto;
    height: 175%;
    object-fit: cover;
}
.info {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 5px;
}

.villager-species {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    gap: 10px;
}

.villager-species span {
    margin-right: 5px;
    font-weight: bold;
}

ion-icon {
    font-size: 1.5em;
    font-weight: bold;
}


@media only screen and (width<=1300px) {
    ion-card {
        width: 50vh;
    }
}

@media only screen and (width<=750px) {
    ion-card {
        width: 65vh;
    }
}

@media only screen and (width<=500px) {
    ion-card {
        width: 45vh;
    }
}