<ion-card>
  <ion-card-content class="villager-card">
    <div class="villager-image-container">
      <img alt="villager photo" src="{{ villager?.attributes.image_url }}" />
    </div>
    <div class="villager-info">
      <div class="villager-species">
        <h3>{{ 'villagers.species.' +  villager?.attributes.species| translate}}</h3>
        <ion-icon [name]="villager?.attributes.gender === 'Female' ? 'female-sharp' : 'male-sharp'"
          [color]="villager?.attributes.gender === 'Female' ? 'tertiary' : 'primary'">
        </ion-icon>
      </div>
      <div class="info">
        <h1><b>{{ villager?.attributes.name | titlecase }}</b></h1>
        <h3><b>{{'villagers.personality' | translate}}:</b> {{ 'villagers.personalities.' + villager?.attributes.personality | translate }}</h3>
        <p><b>{{'villagers.birthday' | translate}}: </b>{{ 'villagers.months.' + villager?.attributes.birthday_month | translate }} {{ villager?.attributes.birthday_day }}</p>
      </div>
    </div>
  </ion-card-content>
</ion-card>