<ion-button class="edit" color="primary" (click)="onEditClick($event)"  *ngIf="showEdit" >
  {{ "home.edit" | translate }}
  <ion-icon slot="end" name="pencil-sharp"></ion-icon>
</ion-button>

<ion-card>
  <ion-card-header>
    <div class="header">
      <h1>{{ island?.attributes?.name | titlecase }}</h1>
      <p>
        {{ island?.attributes?.hemisphere 
          ? (('island.hemisphere.' + island?.attributes?.hemisphere) | translate | titlecase) 
          : ('island.hemisphere.none' | translate)  }}
      </p>
    </div>
  </ion-card-header>

  <ion-card-content class="island-card">
    <div class="villagers">
      <div class ="villager" *ngFor="let villager of getVillagersSlots()">
        <ion-avatar shape="round " slot="start">
          <ion-img
            *ngIf="villager?.attributes?.image_url"
            [src]="villager?.attributes?.image_url"
          ></ion-img>
          <ion-icon
            *ngIf="!villager?.attributes?.image_url"
            name="paw"
          ></ion-icon>
        </ion-avatar>
      </div>
    </div>
  </ion-card-content>
</ion-card>
