/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.active-link {
    color: var(--ion-color-primary) !important;
}



.progress-bar {
    height: 50px;
    background-color: var(--ion-color-secondary-tint);
    width: 0%;
    transition: width 0.5s ease-in-out;
    border-radius: 20px;
}


ion-alert {
    --background: var(--ion-background-color) !important;
    --border-radius: 12px;
    --width: auto;
    --max-width: 500px;
    --min-width: 280px;
    --color: var(--custom-dark-color);
}

ion-alert .alert-head {
    --background: var(--ion-background-color);
}

ion-alert .alert-message {
    --color: var(--custom-dark-color);
}

ion-alert button {
    --color: var(--ion-color-secondary) !important;
    --background: transparent;
    --background-activated: var(--ion-color-secondary-tint);
    --background-focused: var(--ion-color-secondary-tint);
    --background-hover: var(--ion-color-secondary-shade);
}

.blur-background {
    filter: blur(5px);
    transition: filter 0.3s;
}