<ion-card>
  <ion-card-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button  *ngIf="!loan?.attributes?.completed" shape="round" color="secondary" fill="clear" 
          (click)="onEditClick($event)">
          <ion-icon  slot="icon-only" name="cash-outline"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="secondary" fill="clear"  (click)="onDeleteClick($event)">
          <ion-icon slot="icon-only"   name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-header>
  <ion-card-content class="loan-card">
    <div class="text">
      <h1>{{ loan?.attributes?.title | titlecase }}</h1>
      <h3>{{ 'loans.type.' + loan!.attributes!.type | translate | titlecase }}</h3>
    </div>
    <div class="progress-container">
      <div class="progress-bar" [appProgress]="
          (loan!.attributes!.amountPaid / loan!.attributes!.amountTotal) * 100">
        <p>{{ (loan!.attributes!.amountPaid / loan!.attributes!.amountTotal) * 100 | number:'1.0-0' }}%</p>
      </div>
    </div>
  </ion-card-content>
</ion-card>